@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:crimson" class="display-4">Welcome</h1>
    <p>Diana Alejandra Aragón López - Oscar Josué Rivera Menéndez</p>
</div>
